.container_pd{
	padding-left: 18px;
	padding-right: 18px;
}

.more {
	text-align: right;
	margin-bottom: 44upx;
	padding-right: 36upx;
	font-size: 32upx;
	color: #999;
}

.card_pic {
	width: 246upx;
	height: 184upx;
	margin-right: 24upx;
}

.card_item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 60upx;
	padding-left: 30upx;
	padding-right: 30upx;
	flex:1;

}

.card_inner {
	flex:1;
	flex-direction: column;
	justify-content: space-between;
}

.card_title {
	font-size: 17px;
	color: #333;
	font-weight: 600;
	overflow: hidden;
	word-break: break-all;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.card_others {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 32px;
}
.card_others_1{
	flex-direction: column;
}

.tags {
	font-size: 13px;
	color: #56D282;
}

.tags_text {
	margin-right: 8px;
}

.time {
	font-size: 13px;
	color: #999;

}
.mt20{
	margin-top: 20upx;
}
	
.arrow{
	width: 27upx;height: 27upx;margin-left: 133upx;
}

	
.self_intro_container{
	display: flex;flex-direction: row;
	justify-content: space-between;align-items: center;
	padding-top: 39upx;
}
.self_intro_container text{
	font-size: 31upx;color: #000;font-weight: 600;
}
.self_intro_container image{
	width: 30upx;height: 29upx;
}
	
.intro_detail{
	margin-top: 24upx;
	font-size: 31upx;color: #999;
}
.sended{
	color: #4DC578;
}
.inner_flex{
	display: flex;flex-direction: row;justify-content: space-between;
	align-items: center;
}

